<div class="twelve columns">
  <div class="row">
    <div class="three columns text-center">
      <h2><%= @active_shop_count %></h2>
      <h6>Active shops</h6>
    </div>
    <div class="three columns text-center">
      <h2><%= @inactive_shop_count %></h2>
      <h6>Inactive shops</h6>
    </div>
    <div class="three columns text-center">
      <h2><%= @never_tracked_count %>
      <h6>Shops never tracked</h6>
    </div>
    <div class="three columns text-center">
      <h2><%= @user_count %></h2>
      <h6>Users</h6>
  </div>
</div>
