<div class="twelve columns">
  <div class="row">
    <h3>Users</h3>

    <table>
      <thead>
        <tr>
          <th class="five">Name</th>
          <th class="five">Email</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <% @users.each do |user| %>
          <tr>
            <td><%= user.name %></td>
            <td><%= user.email %></td>
            <td><%= link_to 'Act as', new_user_masquerade_path(user), class: 'button' %></td>
          </tr>
        <% end %>
      </table>
    </div>
  </div>
