{{#with view}}
  <header class="heading">
    <h4><span>Top</span> {{title}}</h4>
    <span>{{subtitle}}</span>
  </header>
  <article class="wrapper">
    {{collection SS.DashboardTopCollectionView contentBinding="topItems"}}
  </article>
{{/with}}
