{{#with view}}
  <header class="text-center">
    <h4>Top {{title}}</h4>
    <h5 class="subheader short">{{subtitle}}</h5>
  </header>
  <article>
    {{collection SS.DashboardTopCollectionView contentBinding="topItems"}}
  </article>
{{/with}}
