<div id="header">
  <ul class="con">
    <div class="tile" id="logo">
      <h2>
        <span>Shop</span>Stream
      </h2>
    </div>

    {{#if SS.hasShop}}
      <li><a {{action goToDashboard href=true}}>Dashboard</a></li>
      <li><a {{action goToFeed href=true}}>Feed</a></li>
      <li><a {{action goToSettings href=true}}>Settings</a></li>
    {{/if}}

    <li class="logout">
      {{#if SS.hasShop}}{{SS.shop.domain}}{{/if}}
      <a href="/users/sign_out" data-method="delete"><img src="/assets/logout.png"></a>
    </li>
  </ul>
</div>