<div class="twelve columns">
  {{#collection SS.ShopSelectorCollectionView contentBinding="content"}}
    <div class="panel">
      <h5>
        <a {{action goToDashboard view.content href=true}}>{{view.content.name}}</a>
        <small>
          {{#if view.content.isShopifyShop}}
            Shopify shop
          {{else}}
            Non-Shopify shop
          {{/if}}
        </small>
      </h5>
    </div>
  {{/collection}}

  {{outlet add}}
</div>
