{{#if isLoaded}}
  {{#if isCustomShop}}
    {{#if everTracked}}
      {{#unless trackedRecently}}
        <div class="alert-box alert">
          We have not tracked anything in your shop for last 24 hours.
          It is possible that tracking script is not longer installed.
          Can you please check?
        </div>
      {{/unless}}
    {{else}}
        <div class="alert-box secondary">
					<div class="text-center">
          We currently haven't captured any data from your store.  <a class="button success" {{action goToSettings href=true}}>Install The Tracking
            Script Now!</a>
					</div>
        </div>
    {{/if}}
  {{/if}}

  {{outlet}}
{{else}}
  <h3 class="subheader text-center">Loading...</h3>
{{/if}}
