.metric {
  text-align: center;

  canvas {
    width: 75%;
  }
}

.chart {
  height: 200px;

  .co-distr-chart {
    height: 160px;

    .legend {
      table {
        border: none;
      }
    }
  }
}
