.metric {
  text-align: center;

  canvas {
    width: 100%;
  }
}

.chart {
  height: 270px;

  .co-distr-chart {
    height: 220px;

    .legend {
      table {
        border: none;
      }
    }
  }
}
