#header {
  ul {
    #logo {
      width: 25%;
      margin-top: -40px;
      margin-left: -30px;

      a {
        color: #000;
        text-decoration: none;
      }
    }

    li {
      a.active {
        color: #000;
      }
    }

    li.logout {
      float: right;
      font-weight: normal;
    }
  }
}
