body {
  -webkit-font-smoothing: antialiased;
}

#stream {
  height: 200px;

  .tile {
    h2 {
      margin-left: 0;
    }

    canvas {
      max-width: 100%;
    }
  }
}

.dashboard {
  margin-top: 345px;
}

.chart-tile {
  width: 55%;
}

.logout {
  img {
    margin-bottom: -4px;
    margin-left: 5px;
  }
}

.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.top-spacing {
  margin-top: 60px;
}
