<!DOCTYPE html>
<html>
<head>
  <title>ShopStream</title>
  <%= stylesheet_link_tag 'application', media: 'all' %>
</head>
<body class="feather welcome">
<div id="login">
  <div id="welcome">
    <%= yield %>
  </div>
</div>
</body>
</html>
