<!DOCTYPE html>
<html>
<head>
  <title>ShopStream — Manage</title>
  <%= stylesheet_link_tag 'application', media: 'all' %>
</head>
<body class="feather">
<div id="header">
  <ul class="con">
    <div class="tile" id="logo">
      <h2>
        <span>Shop</span>Stream
      </h2>
    </div>

    <li><%= link_to 'Users', users_path %></li>

    <li class="logout">
      <a href="/superusers/sign_out" data-method="delete"><img src="/assets/logout.png"></a>
    </li>
  </ul>
</div>
<%= yield %>
</body>
</html>
